.club-detail-page {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header h2 {
    margin-left: 20px;
    font-size: 24px;
}

.club-info {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    overflow-y: auto;
    height: 25%;
}

.club-info img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.club-info h3 {
    margin-left: -40px;
}

.club-info-center {
    text-align: left;
    margin-top: 30px;
    margin-left: -45px;
    padding: 5px;
}

.info-des{
    margin-left: -80px;
}

.club-info-text {
    flex: 1;
}

.club-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.club-info p {
    margin-bottom: 8px;
    font-size: 14px;
}

.last-activity {
    margin-bottom: 20px;
    font-size: 18px;
}

.last-activity-text {
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow-x: auto;
}

.last-activity h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.uno-cards {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 10px;
    border-radius: 30px;
}

.uno-cards img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.leader-info {
    margin-bottom: 20px;
}

.leader-info h4 {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
}

.leader-info img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.leader-info-text {
    display: flex;
}

.leader-info-name {
    margin-left: 10px;
}


.leader-info-phone {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
    flex: 1;
}

.join-button {
    width: 100%;
    padding: 15px;
    background-color: #567cac;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.join-form {
    padding: 20px;
}

.join-form .header {
    margin-bottom: 30px;
}

.user-info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.user-info img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-info {
    display: grid;
}

.reason-input {
    margin-bottom: 20px;
}

.reason-input p {
    text-align: left;
    margin-bottom: 20px;
    font-size: 25px;
}
.reason-input textarea {
    width: 100%;
    height: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    width: 95%;
    padding: 15px;
    background-color: #567cac;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 20px;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}