.login-container {
    width: 100%;
    min-height: 90vh;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 24px;
    margin-top: 10vh;
    margin-bottom: 20px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0 auto;
}

input:focus {
    outline: none;
}

button, .social-login {
    width: 100%;
    max-width: 330px;
    padding: 12px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 50px;
}

.login-btn {
    background-color: #5a7ca5;
    color: white;
    margin: 5% auto 0;
}

.social-login-container {
    padding: 10px;
    text-align: center;
}

.kakao-btn {
    background-color: #FEE500;
    color: #000000;
}

.signup-link {
    font-size: 14px;
    color: #1877f2;
    text-decoration: none;
    cursor: pointer;
}

.signup-text {
    font-size: 14px;
    color: #606770;
    margin-bottom: 5vh;
}

.input-group {
    text-align: left;
    width: 100%;
    max-width: 330px;
    margin: 0 auto 40px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.login_text {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .login-container {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
        font-weight: bold;
        margin-top: 10vh;
    }

    .input-group {
        margin: 0 auto 40px;
    }

    .login_text {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 40px;
    }

    .signup-text {
        font-size: 14px;
        color: #606770;
        margin-bottom: 5vh;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 18px;
    }

    .login_text {
        font-size: 22px;
    }

    button, .social-login {
        height: 44px;
    }
}