.login-container {
    width: 380px;
    height: 840px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

h1 {
    font-size: 24px;
    margin-top: 100px;
    margin-bottom: 20px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button, .social-login {
    width: 320px;
    padding: 12px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-btn {
    background-color: #1877f2;
    color: white;
    margin-left: -20px;
}

.social-login-container {
    padding: 10px;
    text-align: center;
    margin-left: -9px;
}


.kakao-btn {
    background-color: #FEE500;
    padding: 0;
    color: #000000;
    margin-left: -20px;
}

.signup-link {
    font-size: 14px;
    color: #1877f2;
    text-decoration: none;
    cursor: pointer;
}

.signup-text {
    font-size: 14px;
    color: #606770;
    margin-bottom: 80px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
    width: 400px;
    margin-left: 10px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.login_text {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
}
