.signup-title {
    font-size: 40px;
    font-weight: bold;
}
.signup-container {
    margin-left: 5px;
    width: 100%;
}

.border-red-500 {
    border: 1px solid red;
}

.signup-btn {
    background-color: #5a7ca5;
    color: white;
    width: 90%;
    margin-top: -20px;
    margin-left: -20px;
}

.input-group {
    width: 90%
}
.header-container {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.back-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.back-button img {
    width: 24px;
    height: 24px;
}

.signup-header-center {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.input-with-button {
    position: relative;
    display: flex;
    align-items: center;
}

.input-with-button input {
    width: 100%;
    padding-right: 70px;
}

.duplicate-check-btn {
    position: absolute;
    right: 5px;
    top: 40%;
    transform: translateY(-50%);
    background-color: #e5f7ff;
    width: 70px;
    border-radius: 10px;
    color: #007bff;
    cursor: pointer;
    padding: 5px;
    font-size: 0.8em;
    white-space: nowrap;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    width: 50%;
    height: 13%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.modal-content button {
    width: 60%;
    margin-top: 5px;
    padding: 5px 20px;
    cursor: pointer;
}

.modal-header {
    margin-bottom: 7px;
}