@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

.Header_center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
    background-color: white;
    font-size: 25px;
    font-family: 'Fugaz One', sans-serif;
}

.Header_center p {
    width: 185px;
    height: 50px;
    padding-top: 3px;
    margin-top: 12px;
    margin-bottom: 20px;
    align-items: center;
    color: #597CA5;
    font-size: 29px;
    font-weight: 500;
    background-color: #E6F7FF;
    border-radius: 40px;
    font-family: inherit;
    transform: skew(-10deg);
}