.post-detail {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.post-content {
    margin-bottom: 20px;
}

.comments-section {
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.comment {
    position: relative;
    margin-bottom: 10px;
}

.delete-button {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    width: 50%;
    height: 13%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.modal-content button {
    width: 60%;
    margin-top: 5px;
    padding: 5px 20px;
    cursor: pointer;
}

.modal-header {
    margin-bottom: 7px;
}

.comment-input {
    display: flex;
}